<div class="header-items header-contact  d-flex justify-content-end mb-4">
    <div class="pull-right">
        <div id="google_translate_element" style="margin:3px;display:none"></div>
    </div>
    <div class="pull-right language-bg">
        <div class="dropdown notranslate" style="margin-right: 10px;">
            <div class="warp-llg d-flex " style="align-items:center; gap:4px;">
                <a class="dropdown-lgg" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer; color: #000">
                    <div class="lang_show" data-lang="vi" style="color: #000">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1200px-Flag_of_Vietnam.svg.png" alt="Vietnamese" class="lang-icon">
                        Tiếng Việt
                    </div>
                    <div class="lang_show" data-lang="en" style="display: none; color: #000">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png" alt="English" class="lang-icon">
                        English
                    </div>
                </a>
                <i class="fa fa-angle-down"></i>
            </div>

            <div class="dropdown-menu translation-links" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item lang-select" onclick="changelang('vi')" style="cursor: pointer; color: #000">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1200px-Flag_of_Vietnam.svg.png" alt="Vietnamese" class="lang-icon">
                    Tiếng Việt
                </a>
                <a class="dropdown-item lang-select" onclick="changelang('en')" style="cursor:pointer;color:#000">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png" alt="English" class="lang-icon">
                    English
                </a>
            </div>
        </div>
    </div>
</div>
