/* Đặt loader ở giữa màn hình */
.cs-page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: all 1s ease-in-out; /* Tăng thời gian transition lên 1s */
}

    .cs-page-loading.active {
        opacity: 1;
        visibility: visible;
    }

    .cs-page-loading.ajax_active {
        opacity: .5;
        visibility: visible;
        transition: 1s;
    }

        .cs-page-loading.ajax_active > .cs-page-loading-inner {
            opacity: 1;
        }

/* Căn giữa loader */
.cs-page-loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.5s ease-in-out; /* Thêm thời gian transition để căn giữa chậm hơn */
    opacity: 0;
}

.cs-page-loading.active > .cs-page-loading-inner {
    opacity: 1;
}

/* Loader mới */
.loader {
    width: 60px;
    aspect-ratio: 4;
    --c: red 90%, #0000;
    background: radial-gradient(circle closest-side at left 6px top 50%, var(--c)), radial-gradient(circle closest-side, var(--c)), radial-gradient(circle closest-side at right 6px top 50%, var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1.5s infinite alternate; /* Đổi từ 1s thành 1.5s để chậm lại */
}

@keyframes l4 {
    to {
        width: 25px;
        aspect-ratio: 1;
    }
}
